
    <div class="card m-4 border-0 bg-transparent">
      <img src="{{ cardPicture }}" class="card-img-top" alt="">
      <div class="card-body">
        <h6 class="card-subtitle small text-info">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
          </svg>
          {{ cardSubtitle }}
        </h6>
        <h4 class="card-title fs-5">{{ cardTitle }}</h4>
        <p class="card-text text-secondary small">
          {{ cardText }}
        </p>
        <cite>{{ cardCite }}<strong>{{ cardAuthor }}</strong></cite>
      </div>
    </div>
