<div class="mt-4">
  <div class="container">
    <h1 class="display-4">{{ newsTitle }}</h1>
    <p class="lead">{{ newsSubContent }}</p>
    <hr>
    <div class="d-flex align-items-center justify-content-center">
      <img src="{{ newsPicture }}" alt="newsPicture" class="">
    </div>
    <hr>
    <p class="text-center p-2">{{ newsMainContent }}</p>
    <div class="d-flex align-items-center justify-content-center">
      <a class="btn btn-lg" [routerLink]="['']">Go Back</a>
    </div>
  </div>
</div>
<app-footer></app-footer>
