<app-search-menu></app-search-menu>
<div class="container mt-4">
  <div class="row row-cols-3 d-flex align-items-center justify-content-center">
    <app-large-card class="col-5" cardPicture="https://picsum.photos/640/361" cardId="1"></app-large-card>
    <app-mini-card class="col-3" cardPicture="https://picsum.photos/639/360" cardId="2" cardAuthor="Gabriela Costa"></app-mini-card>
    <app-mini-card class="col-3" cardPicture="https://picsum.photos/638/360" cardId="3" cardAuthor="Antônia Cristina"></app-mini-card>
  </div>
  <div class="card-group">
    <app-mini-card class="col-3" cardPicture="https://picsum.photos/637/360" cardId="4"></app-mini-card>
    <app-mini-card class="col-3" cardPicture="https://picsum.photos/636/360" cardId="5"></app-mini-card>
    <app-mini-card class="col-3" cardPicture="https://picsum.photos/635/360" cardId="6"></app-mini-card>
    <app-mini-card class="col-3" cardPicture="https://picsum.photos/634/360" cardId="7"></app-mini-card>
    <app-mini-card class="col-3" cardPicture="https://picsum.photos/633/360" cardId="8"></app-mini-card>
    <app-mini-card class="col-3" cardPicture="https://picsum.photos/632/360" cardId="9"></app-mini-card>
    <app-mini-card class="col-3" cardPicture="https://picsum.photos/631/360" cardId="10"></app-mini-card>
    <app-mini-card class="col-3" cardPicture="https://picsum.photos/630/360" cardId="11"></app-mini-card>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>