
    <div class="card m-4 border-0 bg-transparent">
      <img src="https://picsum.photos/640/360" class="card-img-top" alt="">
      <div class="card-body">
        <h6 class="card-subtitle p-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
          </svg>
          Card Categories | Post Date
        </h6>
        <h4 class="card-title">Card title placeholder card in construction card large card</h4>
        <p class="card-text mt-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum eros quis pharetra malesuada. Pellentesque vestibulum nisl eget quam consectetur interdum. Etiam a mauris metus. Vestibulum dapibus feugiat volutpat.
        </p>
        <cite>Author: <strong>Kaio Davy</strong></cite>
      </div>
    </div>

