<div class="bg-transparent">
  <div class="container">
    <nav class="navbar row navbar-dark navbar-expand-sm">
      <ul class="navbar-nav d-flex justify-content-around">
        <li class="nav-item col-auto"><a href="#" class="nav-link">Steam</a></li>
        <li class="nav-item col-auto"><a href="#" class="nav-link">Playstation</a></li>
        <li class="nav-item col-auto"><a href="#" class="nav-link">Xbox</a></li>
        <li class="nav-item col-auto"><a href="#" class="nav-link">Nintendo</a></li>
        <li class="nav-item col-auto"><a href="#" class="nav-link">Games</a></li>
        <li class="nav-item col-auto"><a href="#" class="nav-link">Guides&Tutorials</a></li>
      </ul>
    </nav>
  </div>
</div>
