<div class="bg-menu">
  <div class="container">
    <nav class="navbar row navbar-expand-sm">
      <ul class="navbar-nav d-flex justify-content-around">
        <li class="nav-item col-auto"><a href="#" class="nav-link">{{ category1 }}</a></li>
        <li class="nav-item col-auto"><a href="#" class="nav-link">{{ category2 }}</a></li>
        <li class="nav-item col-auto"><a href="#" class="nav-link">{{ category3 }}</a></li>
        <li class="nav-item col-auto"><a href="#" class="nav-link">{{ category4 }}</a></li>
        <li class="nav-item col-auto"><a href="#" class="nav-link">{{ category5 }}</a></li>
        <li class="nav-item col-auto"><a href="#" class="nav-link">{{ category6 }}</a></li>
      </ul>
    </nav>
  </div>
</div>
